[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=spritesheet_manager
X-Krita-Manual=manual.html
Name=Spritesheet Manager
Comment=A Krita manager for everything Spritesheet related!