[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=sprite_sheet_padder
X-Krita-Manual=sprite_sheet_padder_manual.html
Name=Sprite Sheet Padder
Comment=Automatically padds tiles in an atlas.